node_modules
artifacts
cache
coverage
coverage.json
typechain-types
.env
docs
.DS_Store
CONTEXT.md
Langkah-Langkah-Pengerjaan-Escrow-dApp.md
Panduan-Penggunaan-Escrow-dApp.md
PRD-Tema-04-Simple-Escrow-dApp.md